<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--日志信息-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--分配置文件-->
    <mappers>
        <!--mapper文件要求跟dao接口在一个包中，并且名字跟dao的名字一样-->
         <package name="com.bjpowenode.crm.settings.mapper"/>
        <package name="com.bjpowenode.crm.workbench.mapper"/>
    </mappers>

</configuration>